{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

<link rel="stylesheet" href="/static/assets/css/loading_button.css">
<link rel="stylesheet" href="/static/assets/css/datatables.min.css" />

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div
          class="
            d-sm-flex
            align-items-center
            justify-content-between
            border-bottom
          ">
          <h2>Beneficiaries</h2> 
        </div>
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">


            <div class="row">
              <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>

                            <h4 class="card-title card-title-dash">All Beneficiaries</h4>
                            <p class="card-subtitle card-subtitle-dash">{{ registered_today }} new beneficicary
                              registrations today</p>
                          </div>

                          <div class="form-group inline ">
                            <div class="search">
                              <form class="search-form flex-column search" autocomplete='off' action="#">
                                <input type="search" class="form-control search " name="q" data-toggle="tooltip" title="Search"
                                  placeholder="Search beneficiary" title="Search here" id="search_here"
                                  >
                                <div>
                                  <svg>
                                    <i class="icon-search"></i>
                                  </svg>
                                </div>
                              </form>
                            </div></div>

                            <div>
                            	<button id="download-report-button" type="button" class="btn btn-success btn-icon-text btn-lg text-white mb-0 me-0" data-toggle="tooltip" title="Download Records">
									{% comment %} <i class="fa fa-circle-o-notch fa-spin px-2"></i> {% endcomment %}
									<i id="download-icon" class="mdi mdi-download"></i>
                            	</button>
                            	<button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button">                             
                                	<a href="{% url 'beneficiary:create' %}" class="text-white" style="text-decoration: none;" data-toggle="tooltip" title="Add Beneficiary">
									<i class="mdi mdi-account-plus"></i >
									</a>
								</button>
                          </div>

                        </div>
                        <div class="table-responsive  mt-1">
                          <table class="table select-table" id="table_id">
                            <thead>
                              <tr>
                                <th>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i
                                        class="input-helper"></i></label>
                                  </div>
                                </th>
                                  <th>Beneficiary  ID</th>
                                  <th>Full Name</th>
                                  <th>Gender & Sex</th>
                                  <th>Facility</th>
                                  <th>Registered Date</th>
                                  <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% if beneficiaries %}
                              {% for beneficiary in beneficiaries %}
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i
                                        class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <a style="text-decoration: none;" href="{{ beneficiary.get_absolute_url }}">
                                    {{ beneficiary.beneficiary_id }}</a>
                                </td>
                                <td>
                                  <div class="d-flex ">
                                    {% if beneficiary.profile_photo %}
                                    <img src="{{ beneficiary.profile_photo.url }}">
                                    {% elif beneficiary.sex == "Male" %}
                                    <img src="/static/assets/images/faces/male.jpeg" alt="">
                                    {% else %}
                                    <img src="/static/assets/images/faces/female.jpeg" alt="">
                                    {% endif %}
                                    <div>
                                      <a style="text-decoration: none;" href="#">
                                        <h6>{{ beneficiary.first_name }} {{ beneficiary.last_name }}</h6>
                                        <p>{{beneficiary.get_age }} years old</p>
                                      </a>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>{{ beneficiary.sex }}</h6>
                                  <p>{{ beneficiary.gender }}</p>
                                </td>
                                <td>
                                  <h6>{{ beneficiary.registered_facility }}</h6>
                                </td>
                                <td>
                                  <h6>{{ beneficiary.created }}</h6>
                                </td>
                                <td>
                                  <div class="badge badge-opacity-danger">
                                    <a href="{% url 'beneficiary:medical_record_create' beneficiary.pk %}"
                                      data-toggle="tooltip" title="Add Medical Record">
                                      <i class="menu-icon mdi mdi-file"></i>
                                    </a>
                                  </div>
                                  <div class="badge badge-opacity-danger">
                                    <a href="{% url 'beneficiary:update' pk=beneficiary.id %}" data-toggle="tooltip" title="Edit">
                                      <i class="menu-icon mdi mdi-pencil" class="tooltiptext"></i>
                                    </a>
                                  </div>

                                  <div class="badge badge-opacity-danger">
                                    <a id="{{ beneficiary.id }}" data-toggle="tooltip" title="Delete">
                                      <i class="menu-icon mdi mdi-delete-forever"></i>
                                      <script>
                                        try{
                                          if("{{ beneficiary.id }}" === "{{ beneficiary.id }}"){
                                            const deleteButton = document.getElementById("{{ beneficiary.id }}");
                                            deleteButton.addEventListener("click", () => {
                                              var response;
                                              response = confirm("Are you sure you want to delete this post");
                                              if(response){
                                                const setProperty = deleteButton.href = "{% url 'beneficiary:delete' pk=beneficiary.id %}";
                                                setProperty.click()
                                              }else if(!(response)){
                                                console.log("cancelled post delete");
                                              }
                                            });
                                          }
                                        }catch(error){
                                          console.log(error)
                                        }
                                    </script>
                                  </a>
                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                              {% else %}
                              <h3>No Beneficiaries Available</h3>
                              {% endif %}
                            </tbody>
                          </table>
                        </div>
                        <div class="m-3">

                          {% if is_paginated %}
                            {% if page_obj.has_previous %}
                              <a class="btn btn-primary btn-lg text-white mb-0 me-0" href="?page=1">First</a>
                              <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                              {% if page_obj.number == num %}
                                <a class="btn btn-lg mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                                class="btn btn-primary btn-lg text-white mb-0 me-0" href="?page={{ num }}">{{ num }}</a>
                              {% endif %}
                             {% endfor %}

                              {% if page_obj.has_next %}
                                <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                                  href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="btn btn-primary btn-lg text-white mb-0 me-0"
                                  href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                              {% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

<script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>




{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/dashboard.js"></script>
<script src="/static/assets/js/Chart.roundedBarCharts.js"></script>
<script src="/static/assets/js/modal.js"></script>
<script src="/static/assets/js/datatables.min.js"></script>


<script>
  $('#download-report-button').on('click', function (e) {
    e.preventDefault();

    $.notifyBar({ cssClass: "success", html: "Your request is being processed. You download will start automatically once the file is ready ...", delay: 5000 });
    // see the URL Setup for where this url came from
    const url = 'export_beneficiary_data';
    $.get(url)
      .done(function pollAsyncResults(data) {
        $('#download-report-button').addClass('buttonload disabled').html('Processing');
        // bind pollAsyncResults to itself to avoid clashing with 
        // the prior get request
        context: this
        // see the URL setup for where this url came from
        const pollAsyncUrl = `poll_async_results/${data.task_id}`
        $.get(pollAsyncUrl)
          .done(function (asyncData, status, xhr) {
            context: this
            // if the status doesn't respond with 202, that means 
            // that the task finished successfully
            if (asyncData.state === "SUCCESS") {
              // stop making get requests to pollAsyncResults
              clearTimeout(pollAsyncResults);
              $('#download-report-button').removeClass('buttonload disabled');
              $('#download-icon').removeClass('fa fa-circle-o-notch fa-spin px-2').addClass('mdi mdi-download');
              // add a message, modal, or something to show the user 
              // that there was an error the error in this case 
              // would be related to the asynchronous task's
              // error message
            })
        })
        .fail(function(xhr, status, error) {
          // add a message, modal, or something to show the user 
          // that there was an error
          // The error in this case would be related to the main 
          // function that makes a request to start the async task
        })
    })
  </script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

	

{% endblock javascripts %}
