{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="/static/assets/js/select.dataTables.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">OPD</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">HTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">VL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">ART</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">Labs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">Pharmacy</a>
                </li>
              </ul>
            <div>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
              </div>
            </div>
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
              
              {% include "includes/header_stats.html" %}
              
             
                <div class="row">
                    <div class="col-lg-12 d-flex flex-column">

                        <div class="row flex-grow">
                            <div class="col-md-6 col-lg-8 grid-margin stretch-card">
                                <div class="card card-rounded">
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div>
                                                <h4 class="card-title card-title-dash">System Users</h4>
                                            </div>
                                            </div>
                                            <div class="mt-3">
                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                <div class="d-flex">
                                                <img class="img-sm rounded-10" src="/static/assets/images/faces/male.jpeg" alt="profile">
                                                <div class="wrapper ms-3">
                                                    <p class="ms-1 mb-1 fw-bold">Cephas Zulu</p>
                                                    <small class="text-muted mb-0">Database Admin</small>
                                                </div>
                                                </div>
                                                <div class="text-muted text-small">
                                                1h ago
                                                </div>
                                            </div>
                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                <div class="d-flex">
                                                <img class="img-sm rounded-10" src="/static/assets/images/faces/male.jpeg" alt="profile">
                                                <div class="wrapper ms-3">
                                                    <p class="ms-1 mb-1 fw-bold">Jachnie Manda </p>
                                                    <small class="text-muted mb-0">Beneficiary Admin</small>
                                                </div>
                                                </div>
                                                <div class="text-muted text-small">
                                                1h ago
                                                </div>
                                            </div>
                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                <div class="d-flex">
                                                <img class="img-sm rounded-10" src="/static/assets/images/faces/female.jpeg" alt="profile">
                                                <div class="wrapper ms-3">
                                                    <p class="ms-1 mb-1 fw-bold">Olipa Tembo</p>
                                                    <small class="text-muted mb-0">Report admin</small>
                                                </div>
                                                </div>
                                                <div class="text-muted text-small">
                                                1h ago
                                                </div>
                                            </div>
                                            <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                <div class="d-flex">
                                                <img class="img-sm rounded-10" src="/static/assets/images/faces/male.jpeg" alt="profile">
                                                <div class="wrapper ms-3">
                                                    <p class="ms-1 mb-1 fw-bold">Chriford Siame</p>
                                                    <small class="text-muted mb-0">Agent Supervisor</small>
                                                </div>
                                                </div>
                                                <div class="text-muted text-small">
                                                1h ago
                                                </div>
                                            </div>
                                            <div class="wrapper d-flex align-items-center justify-content-between pt-2">
                                                <div class="d-flex">
                                                <img class="img-sm rounded-10" src="/static/assets/images/faces/female.jpeg" alt="profile">
                                                <div class="wrapper ms-3">
                                                    <p class="ms-1 mb-1 fw-bold">Bupe Mulenga</p>
                                                    <small class="text-muted mb-0">Database Admin</small>
                                                </div>
                                                </div>
                                                <div class="text-muted text-small">
                                                1h ago
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                                <div class="card card-rounded">
                                    <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <h4 class="card-title card-title-dash">Activities</h4>
                                        <p class="mb-0">20 updated, 55 new</p>
                                    </div>
                                    <ul class="bullet-line-list">
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>Just now</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="d-flex justify-content-between">
                                            <div><span class="text-light-green">Alison Mukoma</span> Added new beneficiary ...</div>
                                            <p>1h</p>
                                        </div>
                                        </li>
                                    </ul>
                                    <div class="list align-items-center pt-3">
                                        <div class="wrapper w-100">
                                        <p class="mb-0">
                                            <a href="/admin" class="fw-bold text-primary">Manage users and roles <i class="mdi mdi-arrow-right ms-2"></i></a>
                                        </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/dashboard.js"></script>
  <script src="/static/assets/js/Chart.roundedBarCharts.js"></script>

{% endblock javascripts %}
