
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between" style="padding-left: 50em;">
        <span class="float-none float-sm-center d-block mt-1 mt-sm-0 text-center">
            &copy; <a target="_blank" href="/">ITEZ</a> - Powered by DigitalProphets.    
        </span>
        <div class="notification-panel p05 shadow-box" id="notifications">
    <div class="row">
        <div class="col-6 font-weight-400 ">
            Notifications
        </div>

        <div class="col-6 small">
            <a class="float-right underline" onclick="markAllNotinficationsRead()"> Mark all as read</a>
        </div>
        <table id="notifications-table" class="table left">
            
        </table>
    </div>
    <span class="float-right underline small"
        onclick="(function(){var x = document.getElementById('notifications'); x.style.display = 'none'; return false;})();return false;">Close</span>
</div>
    </div>
</footer>
