<div class="row">
  <small class="welcome-text"
    >Beneficiary segments,
    <span class="fw-bold">in the past 24 hours</span></small
  >
  <br /><br />

  <div class="col-sm-12">
    <div
      class="
        statistics-details
        d-flex
        align-items-center
        justify-content-between
      "
    >
      <div>
        <p class="statistics-title">OPD</p>
        <h3 class="rate-percentage align-items-center justify-content-between">
          {{opd}}
        </h3>
      </div>
      <div>
        <p class="statistics-title">HTS</p>
        <h3 class="rate-percentage">{{hts}}</h3>
      </div>
      <div>
        <p class="statistics-title">VL</p>
        <h3 class="rate-percentage">{{vl}}</h3>
      </div>
      <div class="d-none d-md-block">
        <p class="statistics-title">ART</p>
        <h3 class="rate-percentage">{{art}}</h3>
      </div>
      <div class="d-none d-md-block">
        <p class="statistics-title">Labs</p>
        <h3 class="rate-percentage">{{labs}}</h3>
      </div>
      <div class="d-none d-md-block">
        <p class="statistics-title">Pharmacy</p>
        <h3 class="rate-percentage">{{pharmacy}}</h3>
      </div>
    </div>
  </div>
</div>
