<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ lab_title|title }}</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Lab Type</th>
            <th>Request Date</th>
            <th>Results</th>
            <th>Result Status</th>
          </tr>
        </thead>
        <tbody>
          {% for lab in labs %}
            <tr>
              <td>{{ lab.title }}</td>
              <td>{{ lab.requested_date }}</td>
              <td class="text-active">
                {{ lab.results }}
              </td>
              <td>
                {{ lab.results_status }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr />
    <div style="float: right; margin-bottom: -1.5em;">
        {% if labs.has_previous %}
          <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page={{ labs.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><span class="page-link"> page {{ labs.number }}</span></li>
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo; &laquo;</span>
                  <span class="sr-only">First</span>
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}
    
        {% if labs.has_next %}
          <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page={{ labs.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><span class="page-link"> page {{ labs.number }}</span></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ labs.paginator.num_pages }}" aria-label="Previous">
                <span aria-hidden="true">&raquo; &raquo;</span>
                <span class="sr-only">Last</span>
                </a>
            </li>
            </ul>
        </nav>
        {% endif %}
    </div>
  </div>
</div>