{% load notifications_tags %}
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div class="me-3">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
    </div>
    <div>
      <a href="/" style="text-decoration: none;">
        <h2 style="padding-left:0.3em"><b>ITEZ</b></h2>
      </a>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-top">
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
        <h1 class="welcome-text">Hello, <span class="text-black fw-bold">
          {% if not request.user.first_name and not request.user.last_name %}
            {{ request.user.username }}
          {% else %}
            {{ request.user.first_name|title }}
            {{ request.user.last_name|title }}</span></h1>
          {% endif %}
            <h3 class="welcome-sub-text">Beneficiary analytics this week </h3>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown d-none d-lg-block">
        <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#"
          data-bs-toggle="dropdown" aria-expanded="false"> Select Service Type </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
          aria-labelledby="messageDropdown">
          <a class="dropdown-item py-3">
            <p class="mb-0 font-weight-medium float-left">Service Types</p>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">ART </p>
              <p class="fw-light small-text mb-0">Filter graphs by beneficiaries of service type ART</p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">VL</p>
              <p class="fw-light small-text mb-0">Filter graphs by beneficiaries of service type Viral Load</p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item d-none d-lg-block">
        <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
          <span class="input-group-addon input-group-prepend border-right">
            <span class="icon-calendar input-group-text calendar-icon"></span>
          </span>
          <input type="text" class="form-control">
        </div>
      </li>
      <li class="nav-item">
        <form class="search-form" action="#">
          <i class="icon-search"></i>
          <input type="search" class="form-control" placeholder="Search Here" title="Search here">
        </form>
      </li>
      
      <li class="nav-item dropdown"> 
      <a class=nav-link text-dark notification-bell unread dropdown-toggle" data-unread-notifications="true" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">              
        <div class="dropdown-toggle" data-unread-notifications="">
        {% if user.is_authenticated %}
        <svg class="icon icon-sm text-gray-900" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
              <span id="notifications-count" class="badge-notifications badge badge-danger">
                {% if  user.notifications.unread %}
                  {% live_notify_badge %}
                {% endif %}
                {% else %}
                ...
                {% endif %} 
              </span>
             
      </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
          <a class="dropdown-item py-3">
            <p class="mb-0 font-weight-bold float-left">You have 2 unread notifications </p>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-item-content flex-grow py-2">
              {% for notification in  user.notifications.unread %}
              <p class="preview-subject ellipsis font-weight-medium text-dark">  
              <div style="float: left; -10px;">
                {% if request.user.profile.profile_photo %}
                  <img width="30" height="30" style="float:left;" class="img-md rounded-circle" src="{{request.user.profile.profile_photo.url}}" alt="Profile image">
              {% elif not request.user.profile_photo and request.user.gender == 'Male' %}
                  <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
              {% elif not request.user.profile_photo and request.user.gender == 'Female' %}
                  <img class="img-xs rounded-circle" src="/static/assets/images/faces/female.jpeg" alt="Profile image">
              {% else %}
                  <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
              {% endif %} 
              </div>
              <div style="align-content: center;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; white-space: initial; max-width: 75%; margin-left: 8px;">{{ notification }}</div>
              <span style="float:right; margin-top: -20px;"  id="{{notification.slug}}">&times;</span>
              </p>
              <script>
                  document.getElementById('{{notification.slug}}').addEventListener("click", function() {
                    const host = location.origin
                    fetch(`${host}/inbox/notifications/mark-as-read/{{notification.slug}}`).then((res) => console.log(res))
                  });
                </script>
                {% endfor %}
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-lg-block user-dropdown">
        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          {% if request.user.profile.profile_photo %}
          <img width="40" height="40" style="margin-right: 1em;" class="img-md rounded-circle"
            src="{{ request.user.profile.profile_photo }}" alt="Profile image">
          {% elif not request.user.profile_photo and request.user.gender == 'Male' %}
          <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
          {% elif not request.user.profile_photo and request.user.gender == 'Female' %}
          <img class="img-xs rounded-circle" src="/static/assets/images/faces/female.jpeg" alt="Profile image">
          {% else %}
          <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
          {% endif %}

          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              {% if request.user.profile.profile_photo %}
              <img width="100" height="100" style="margin-right: 1em;" class="img-md rounded-circle"
                src="{{ request.user.profile.profile_photo.url }}" alt="Profile image">
              {% elif not request.user.profile_photo and request.user.gender == 'Male' %}
              <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
              {% elif not request.user.profile_photo and request.user.gender == 'Female' %}
              <img class="img-xs rounded-circle" src="/static/assets/images/faces/female.jpeg" alt="Profile image">
              {% else %}
              <img class="img-xs rounded-circle" src="/static/assets/images/faces/male.jpeg" alt="Profile image">
              {% endif %}
              <p class="mb-1 mt-3 font-weight-semibold">
                {{ request.user.first_name|title }}
                {{ request.user.last_name|title }}</p>
              <p class="fw-light text-muted mb-0">{{ request.user.username }}</p>
            </div>
            <a class="dropdown-item" href="{% url 'user:profile' %}"><i
                class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile</a>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
          </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-bs-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
