

<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ service_title|title }}</h4>
    <div class="table-responsive">
      <table id="services_table" class="table table-hover">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Provider Personnel</th>
            <th>Comments</th>
            <th>Facility</th>
          </tr>
        </thead>
        <tbody>
          {% for service in service_paginator_list %}
          <tr>
            <td>{{ service.service_object }}</td>
            <td>{{ service.service_provider }}</td>
            <td>{{ service.service_comments }}</td>
            <td>{{ service.service_facility }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr />
     <div class="paginator" style="float: right;">
       <span class="sr-only">
         {% if service_paginator_list.has_previous %}
            <a href="?service_page=1">&laquo; first</a>
            <a href="?service_page={{service_paginator_list.previous_page_number}}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ service_paginator_list.number }} of {{ service_paginator_list.paginator.num_pages }}
          </span>

          {% if service_paginator_list.has_next %}
            <a href="?service_page={{service_paginator_list.next_page_number}}">next</a>
            <a href="?service_page={{service_paginator_list.paginator.num_pages}}">last &raquo;</a>
          {% endif %}
       </span>
     </div>
  </div>
</div>
