<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ service_title|title }}</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Provider Personnel</th>
            <th>Comments</th>
            <th>Facility</th>
          </tr>
        </thead>
        <tbody>
          {% for service in services.services %}
          <tr>
            <td>{{ service.service_object }}</td>
            <td>{{ service.service_provider }}</td>
            <td>{{ service.comments }}</td>
            <td>{{ service.service_facility }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr />
    <div style="float: right">
      <fieldset class="border p-2">
        {% if service_paginator_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <span class="current">
          Page {{ service_paginator_list.number }} of {{
          service_paginator_list.paginator.num_pages }}.
        </span>
        <a href="?page={{ service_paginator_list.previous_page_number }}"
          >previous</a
        >
        {% endif %} {% if service_paginator_list.has_next %}
        <a href="?page={{ service_paginator_list.next_page_number }}">next</a>
        <span class="current">
          Page {{ service_paginator_list.number }} of {{
          service_paginator_list.num_pages }}.
        </span>
        <a href="?page={{ service_paginator_list.paginator.num_pages }}"
          >last &raquo;</a
        >
        {% endif %}
      </fieldset>
    </div>
  </div>
</div>
