<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item nav-category">Beneficiary</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'beneficiary:list' %}">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">All</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/report">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Reports</span>
      </a>
    </li>

    <li class="nav-item nav-category">Agent</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'beneficiary:agent_list' %}">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">All</span>
      </a>
    </li>

    <li class="nav-item nav-category">Management</li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>

      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/events"> Events </a>
          </li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/uielements"> UI Elements </a>
          </li>
        </ul>

        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/register"> Register </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Data Admin</li>
    <li class="nav-item">
      <a target="_blank" class="nav-link" href="/admin">
        <i class="menu-icon mdi mdi-database"></i>
        <span class="menu-title">DB Admin Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a target="_blank" class="nav-link" href="/api/docs">
        <i class="menu-icon mdi mdi-file-document-box"></i>
        <span class="menu-title">API Docs</span>
      </a>
    </li>
    <li class="nav-item">
      <a target="_blank" class="nav-link" href="/swagger">
        <i class="menu-icon mdi mdi-laptop-mac"></i>
        <span class="menu-title">API Interactive UI</span>
      </a>
    </li>
  </ul>
</nav>
